.experience {
    border-left: 1px solid;
    margin-bottom: 10px;
  }

  .company {
    margin-left: 10px;
  }

  .role {
    font-size: small;
    margin-left: 20px;
    margin-top: 10px;
  }

  .content {
    
  }