---
layout: default
order: 1
---

{% assign sorted_pages = site.experiences| sort:"order" %}
{% for experience in sorted_pages reversed %}
<article class="experience">
  <p>{{ experience.start_date | date: "%B, %Y" }} 
    {% if experience.current==false %}
      to {{ experience.end_date | date: "%B, %Y" }}
    {% endif %}
    - {{experience.role}}</p>
  <p>{{ experience.company }}, {{ experience.location }} ({{ experience.country }})</p>
  <p>{{ experience.excerpt }}</p>
</article>
{% endfor %}