---
layout: default
---
{% assign sorted_pages = site.experiences %}
{% for experience in sorted_pages reversed %}
  {% if forloop.first or previous_company != experience.company %}
    {% unless forloop.first %} </article>{% endunless %}
    <article class="company">{{ experience.company }}
  {% endif %}
  {% assign previous_company = experience.company %}
  <article class="experience">
    <p>{{ experience.start_date | date: "%B, %Y" }} 
      {% if experience.current == false %}
        to {{ experience.end_date | date: "%B, %Y" }}
      {% endif %}
      - {{ experience.role }}</p>
    <p>{{ experience.company }}, {{ experience.location }} ({{ experience.country }})</p>
    <p>{{ experience.content }}</p>
  </article>
{% endfor %}
{% if previous_company != empty %}</article>{% endif %}